.session-container{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
   /* workaround for navbar */
}

.session-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  /* background-color: #f5f5f5; */
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;

}
.session-form > *{
  margin: 5px;
  width: 60%;
}
.session-form  input{
  border-radius: 3px;
  height: 26px;
  width: 100%;
  border: solid 1.5px #D3D3D3;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 2px;
}
/* .session-form h2{ */
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-left: 30%;
  margin-right: 10%; */
/* } */

.session-form  input:hover{
  box-shadow: 0 0 5pt 0.5pt #c5c5c5;
}

.session-form  input:focus {
  box-shadow: 0 0 5pt 2pt #c5c5c5;
  outline-width: 0px;
}
.errors{
  color: rgb(224, 15, 15);
  font-weight: bold;
  font-size: 14px;
  margin: none;
  padding: none;
}
.session-submit{
  margin-top: 15px !important;
}
.session-submit:disabled{
  background-color: #a0c2f0;
  color: white;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
}
.session-submit:enabled{
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
