.messenger-univ{
    background-color: rgb(168, 104, 104);
    width:700px;
    position:fixed;
    bottom:0px;
    right:0px;
    z-index:99;
    display: flex;
    flex-direction: column;
}
#modal-overlay-chat{
    /* width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: transparent;
    transition: opacity 0.4s ease-in-out 0s; */
    /*width: 0;  will be edited when button is clicked*/
    width: 100vw;
    height: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: transparent;
    background:rgba(0,0,0,0.35);
    z-index: 1;
}
/* #messenger-modal-tab{
    height:40px;
} */

/* design for messenger body  */

#messenger-show-body{
    height:50px;
    /* overflow-y: scroll; */
    /* justify-content: space-between; */
    transition: 1s;
    z-index: 10;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    box-shadow: 10px 10px 10px 10px black;
    /* overflow-x: hidden; */
    overflow: hidden;
}

/* .active-modal {
    overflow:hidden;
    overflow-y:scroll;
} */


#messages-top{
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.messages-bottom{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}
#my-chatrooms{
    width:27%;
    /* background-color: rgb(112, 76, 76) ; */
    /* border-right: 1px solid rgb(112, 76, 76) ; */
    border-right: 1px solid black ;
    height:inherit;
    display:flex;
    flex-direction: column;

}

.add-to-chatroom{
    padding-top: 2rem;
    width:100%;
    height:10px;
}

#messenger-body{
    width:73%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content:flex-end; */
    background-color: rgb(213, 181, 181);;
}

#messenger-body input:focus {
    outline: none;
  }
#messenger-body input::placeholder{
    color: black;
}

.message-body-scroll{
    width:100%;
    height: 100px;
}

#messenger-style-boarder{
    border-top: 4px solid black
}

.message-form-container{
    width:100%;
    padding-bottom: 0.4rem;
    color: black;
    border-top: 1px solid black;
}

.message-form{
    width:100%;
    padding-left: 10px;
}

.message-form input {
    background-color: transparent;
    border: none;
    appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
}
#downarrow-messenger{
    display: none;
    height: 30px;
}
#uparrow-messenger{
    height: 30px;
}

.message-content{
    word-break: break-all;
}

.message-container {
    width: 100%;
}

.channel-message {
    display: flex;
    width: 90%;
    align-items: center;
    margin: 7px 0;
    padding: 10px 28px 10px 10px;
    border-radius: 3px;
}
.channel-message:hover{
    background-color: rgb(193, 145, 145);
}

.message-info {
    display: flex; 
    justify-content: space-between;
    padding-bottom: 5px;
}

.message-username {
    font-weight: bold;
}

.message-date {
    font-size: smaller;
}

.all-messages {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
}
.users-in-chatroom{
    padding:10px;
}
.users-in-chatroom li{
    list-style-type: none;
    margin-bottom: 5px;
}