

.active-modal {
    overflow:hidden;
    overflow-y:scroll;
}

#modal-overlay {
    width: 0; /* will be edited when button is clicked*/
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: transparent;
    /* transition: opacity 0.4s ease-in-out 0s; */

    background:rgba(0,0,0,0.35);
    z-index: 90;
    /* opacity: 1;
    transition: all 1.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;  */
}


/* color of the modal, size of the modal */


#modal-menu-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    position: absolute;
    background-color: rgb(251, 241, 229);
    width:0;
    height:100%;
    /* padding: 20px; */
    border-right: 2px solid black;
    transition: .4s;
    /* transition-delay: .1s; */
    margin-right:10px;
    z-index: 91;
}



#community-upper{
    display: flex;
    flex-direction: column;
    width:100%;
}
#community-upper:after{
    /* This is to make a shortened border after community upper */
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 100%; /* Change this to whatever width you want. */
    margin-left: -10px;
    border-bottom: 1px solid black;
}

#community-lower{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.modal-profile-content{
    margin-bottom: 20px;
}
#modal-menu-content > *{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}
#modal-menu-content ul *{
    /* display: block; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin-top: 2px;
    margin-bottom: 2px;
}
#modal-menu-content button{
    margin-left: 4px;
}
#searchbar-container{
    justify-content: center;
    width: 100%;
    height:50%;
}

#search-bar{
    width:80%;
    height:30px;
    margin-bottom:.5rem
}


#search-result-display{
    display: flex;
    flex-direction: column;
    position:relative;
    height:200px;
    width:100%;
    overflow:hidden;
    overflow-y:auto; /* auto makes the scroll bar only show up when you need it to, compared to scroll*/
    margin-bottom: 20px;
}

.search-bar-result{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.15);
    margin-top:.6rem;
    margin-bottom:.6rem;
    padding-left: 5px;
    padding-right:5px

}
.search-bar-result span{
    width: 80%;
}
#add-to-group{
    /* this is the + button  */
    height: 30px;
    width:30px;
    left:80%;
    align-items: center;
    padding:2px;
}

.search-bar-results{
    height:auto;
    border:transparent;
}

.group-list{
    margin-bottom:15%;

}


#my-groups-container{
    /* this is a bad solution for the height and should be adjusted */
    height:34rem;
    overflow:hidden;
    overflow-y: auto; 

}


#groupForm{
    padding-bottom: 1rem;
}
.friend-list-item{
    padding: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid grey; */
    border-radius: 5px;
}
.friend-list-item:hover{
    background: #f3e2d0;
    /* cursor: pointer; */
}
#bottom-buttons{
    margin-bottom: 15%;
}
.modal-buttons-container{
    display:flex;
    flex-direction: row;
    margin-left: -4px ;
}

.bottom-button-size{
}


#group-modal-background{
    height: 100vh; 
    width: 100vw;
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
  }
.group-dropdown{
    position: absolute;
    /* height:170px; */
    width: 130px;
    border:1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    z-index: 101;
    background: white;
    border-radius: 3px;
    align-items: center; /*puts children to center of div vertically */
    justify-content: space-between;
    box-shadow: 0px 0px 4px 0px rgb(66, 66, 66);
    transform: translate(25%, -70%);
    flex-wrap: wrap;
    padding:0;
    /* align-content: stretch; */
}
.group-dropdown > *:hover{
    background: #efefef;
    /* cursor: pointer; */
}
.group-dropdown > *{
    border: .5px solid grey;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    text-align: center;
}
.red-text{
    color: red;
}
#three-dots{
    border: none;
    background: none;
    cursor: pointer;
}
.group-errors{
    color:red;
    margin-top: 10px;
}