.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgb(168, 104, 104);
  margin-top: 0px !important;
}

.navbar-left img {
  height: 150px;
  width: 150px;
}

.navbar > *{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.navbar button{
  cursor: pointer;
  padding: 6px;
  margin-left: 10px;
  font-size: medium;
}
.logo{
  height: 100%;
  width: auto;
  border-radius: 4px;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
}

.community-menu-icon{
  cursor: pointer;
  color: white;
}
