.map-container {
  width: 100%;
  height: 90vh;
}

.map-price-card {
  z-index: 1;
  cursor: pointer;
  width: 66px;
  height: 33px;
  background-color: white;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 28px;
  padding: 0px 7px;
  font-weight: 500;
  box-shadow: rgb(255 255 255 / 8%) 0px 0px 0px 1px inset, rgb(0 0 0 / 58%) 0px 2px 4px;
}

.map-price-card:hover {
  position:absolute;
  z-index: 2;
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
