.footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
  border-top: 1px solid #e5e5e5;
  position: relative;
  bottom: 0;
  background-color: rgb(60, 60, 60);
  margin-top: 20px;
  color: white;
}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 10px;
  margin-right: 5%;
}
.bio-links{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px;
  margin-left: 0px
}
.bio-links > *{
  margin-left: 10px;
}
#personal_project{
  margin-left: 0px;
}
#linkedin{
  height:15px;
}
#github{
  height:15px;
  color: white !important;
}