/* styles for add to group  */


#add-to-group-modal-overlay{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        background-color: transparent;
        /* transition: opacity 0.4s ease-in-out 0s; */
        z-index: 98;
        background:rgba(0,0,0,0.35);
        /* opacity: 1;
        transition: all 1.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;  */
        display: flex;
        justify-content: center;
    

}

#add-to-group-modal{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgb(251, 241, 229);
    width:400px;
    height:500px;
    z-index: 99;
   
    top:15%
    
}

#search-form{
    display: flex;
    justify-content: center;
    width:100%;
    
}

#search-form-input{
    width:70%;
    height:34px
}